.about_container{
    background-color: rgba(0, 0, 0, 0.6) !important;
    height: 130vh;

}
.about_image {
    background-image: url('C:/Consultancy Project/consultancy-project/src/assets/images/LINES-ABOUT2A.jpg');
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

.about_image img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
}

.breadcrumbs {
    text-align: center;
    text-decoration: none;

}

.breadcrumbs li {
    display: inline-block;
    padding: 10px;

}

.icon svg{
    height: 16px;

}

.breadcrumbs li a {
    text-align: center;
    text-decoration: none;
    color: black;

}

#Content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    color: white;
    width: 100%;
    padding-top: 30px;
}
img.logo{
    border: 0;
    margin-top: -15%;
    margin-left: 10%;
    width: 80vh;
    height: 50vh;
}