<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">IMMIGRATION</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            VISA'S
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">USA</a></li>
            <li><a class="dropdown-item" href="#">UK</a></li>
            <li><a class="dropdown-item" href="#">AUSTRALIA</a></li>
            <li><a class="dropdown-item" href="#">CANADA</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            STUDY
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">GERMANY</a></li>
            <li><a class="dropdown-item" href="#">POLAND</a></li>
            <li><a class="dropdown-item" href="#">NEWZEALAND</a></li>
            <li><a class="dropdown-item" href="#">USA</a></li>
            <li><a class="dropdown-item" href="#">UK</a></li>
            <li><a class="dropdown-item" href="#">SWEDEN</a></li>
            <li><a class="dropdown-item" href="#">SPAIN</a></li>
            <li><a class="dropdown-item" href="#">FRANCE</a></li>
            <li><a class="dropdown-item" href="#">NETHERLANDS</a></li>
            <li><a class="dropdown-item" href="#">ITALY</a></li>
            <li><a class="dropdown-item" href="#">SWITER</a></li>
            <li><a class="dropdown-item" href="#">ITALY</a></li>
            <li><a class="dropdown-item" href="#">ITALY</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VISA ASSESSMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
