<div class="d-flex flex-column">
  <div>
    <h2>We work from Monday to Saturday from 9:00 a.m. to 7:00 p.m.</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <form>
        <div class="mb-1 row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="contactNumber"
              placeholder="Contact number"
            />
          </div>
        </div>
        <div class="mb-1">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="E-mail"
          />
        </div>
        <div class="mb-1">
          <input
            type="text"
            class="form-control"
            id="subject"
            placeholder="Subject"
          />
        </div>
        <div class="mb-1">
          <textarea
            class="form-control"
            id="message"
            placeholder="Message"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h3>Head Office</h3>
          <h5>Precise Overseas Consultats.</h5>
          <p>
            202, Aapyaya Building, Street No-8, Brundavan Nagar Lanee – 2,
            Habsiguda, Hyderabad, Telangana – 500007.
          </p>
          <p>Call : +91 90000 18484</p>
          <p>Call : +91 63020 21265</p>
          <p>Call : +91 72079 69690</p>
        </div>
        <div class="col-6">
            <h3>Branch Office</h3>
            <h5>Precise Overseas Consultats.</h5>
            <p>
              Shop No. 14, 2nd Floor, Guptas Mid Town, Guntur Road, Ongole, Prakasam
              Dist. Andhra Pradesh - 523 002
            </p>
            <p>Call : +91 76808 44849</p>
        </div>
      </div>
    </div>
  </div>
</div>
