ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Add some styling to list items */
li {
    margin-bottom: 5px; /* Optional */
}

.banner{
    height: 500px;
}

.slider{
    height: 500px;
    object-fit: contain;
}